<!-- Content Header (Page header) -->
<section class="content-header">
  <h5>
    <b>Employeee Page</b>
    <small> - [Employee Register Informations]</small>
  </h5>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/pages/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">Employee</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
    | Your Page Content Here |
    -------------------------->
  <!--====================================================================-->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="box">
      <div class="box-header with-border">
        <h5 class="box-title">Employee Informations</h5>
      </div>
      <div class="box-body">
        <!--<form class="form-horizontal">-->
        <form class="form-horizontal" #frmEmployee="ngForm" (ngSubmit)="saveEmployee()">
          <div class="form-group">
            <label for="txtEmpId" class="col-sm-2 control-label">Search</label>
            <div class="col-sm-9">
              <!--<mat-form-field class="example-full-width">
                <input type="text" id="txtEmpId" class="form-control" placeholder="Id" matInput
                       [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let employee of employees | async" [value]="employee.EMP_NAME">
                    {{employee.EMP_NAME}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>-->

              <!--<select class="form-control select2" style="width: 100%;" id="txtEmpId" name="empid">
                <option *ngFor="let employee of employees" (click)="getEmployeeData(employee)">{{employee.empName}}</option>
              </select>-->

              <select class="form-control select2" style="width: 100%;" id="txtEmpId" name="empid" [(ngModel)]="selectedId" (change)="getEmployeeId()">
                <option *ngFor="let employee of employees" [ngValue]="employee.empId">{{employee.empName}}</option>
              </select>
            </div>
            <!--<div>-->
            <!--<button type="button" (click)=""><i class="fa fa-search"></i></button>-->
            <!--</div>-->
            <div class="col-sm-1">
              <!--Search Button-->
              <button type="button" id="btnsearch" class="btn btn-success form-control" value="" data-toggle="modal"
                      data-target="#modal-search"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div>
            <hr>
          </div>
          <div class="form-group">
            <label for="txtEmpName" class="col-sm-2 control-label">Employee Name</label>
            <div class="col-sm-10">
              <!--<input type="text" id="txtEmpName" class="form-control" placeholder="Name" [value]="employee?.emp_NAME">-->

              <input type="text" #txtName id="txtEmpName" class="form-control" placeholder="Name"
                     [(ngModel)]="employee.empName" name="empname">

              <!--<select class="form-control select2" style="width: 100%;" id="txtEmpName">
                &lt;!&ndash;<option selected="selected">Auto</option>&ndash;&gt;
                <option *ngFor="let empname of employees" (click)="getEmployeeData(empname)">{{empname.emp_NAME}}</option>
              </select>-->
            </div>
          </div>
          <div class="form-group">
            <label for="txtAddress1" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <!--<input type="text" id="txtAddress1" class="form-control" placeholder="Address 1" [value]="employee?.ADDRESS1">-->
              <input type="text" id="txtAddress1" class="form-control" placeholder="Address 1"
                     [(ngModel)]="employee.empAddress1" name="empaddress1">
              <!--<input type="text" id="txtAddress2" class="form-control" placeholder="Address 2" [value]="employee?.ADDRESS2">-->
              <input type="text" id="txtAddress2" class="form-control" placeholder="Address 2"
                     [(ngModel)]="employee.empAddress2" name="empaddress2">
              <!--<input type="text" id="txtAddress3" class="form-control" placeholder="Address 3" [value]="employee?.ADDRESS3">-->
              <input type="text" id="txtAddress3" class="form-control" placeholder="Address 3"
                     [(ngModel)]="employee.empAddress3" name="empaddress3">
            </div>
          </div>
          <div class="form-group">
            <label for="txtEmpContactNo" class="col-sm-2 control-label">Contact No.</label>
            <div class="col-sm-10">
              <!--<input type="text" id="txtEmpContactNo" class="form-control" placeholder="Contact No." [value]="employee?.emp_CONTACT">-->
              <input type="text" id="txtEmpContactNo" class="form-control" placeholder="Contact No."
                     [(ngModel)]="employee.empContact" name="empcontact">
            </div>
          </div>
          <div class="form-group">
            <label for="txtDesignation" class="col-sm-2 control-label">Designation</label>
            <div class="col-sm-10">
              <!--<input type="text" id="txtDesignation" class="form-control" placeholder="Designation" [value]="employee?.emp_DESIGNATION">-->
              <input type="text" id="txtDesignation" class="form-control" placeholder="Designation"
                     [(ngModel)]="employee.empDesignation" name="empdesignation">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Joined Date</label>
            <div class="col-sm-10">
              <!--Date Picker-->
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <!--<input type="text" class="form-control pull-left" id="datepicker" [value]="employee?.emp_JOIN_DATE">-->
                <input type="text" class="form-control pull-left" id="datepicker"
                       [(ngModel)]="employee.empJoinDate" name="empdate">
              </div>
              <!--Date Picker-->
            </div>
          </div>
          <div class="box-footer">
            <div class="form-group">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <button type="submit" id="btnEmpSave" class="btn btn-primary">Save</button>
                &nbsp;
                <button type="button" id="btnEmpUpdate" class="btn btn-bitbucket" (click)="updateEmployee()">Update</button>
                &nbsp;
                <button type="button" id="btnEmpDelete" class="btn btn-adn" (click)="deleteEmployee()">Delete</button>
                &nbsp;
                <button type="reset" id="btnEmpCancel" class="btn btn-danger" (cancel)="newEmployee()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--====================================================================-->
</section>
<!-- /.content -->
<div class="modal fade" id="modal-search">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search Employee</h4>
      </div>
      <div class="modal-body">
        <!--<p>One fine body&hellip;</p>-->
        <ul type="none" class="list-group">
          <li *ngFor="let employee1 of employees" (click)="getEmployeeData(employee1)" class="list-group-item">{{employee1.empName}}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
