<!-- Content Header (Page header) -->
<section class="content-header">
  <h5>
    <b>BOM Page</b>
    <small> - [BOM Informations]</small>
  </h5>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/pages/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">BOM</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
    | Your Page Content Here |
    -------------------------->
  <!--====================================================================-->
  <div class="row">
    <!--1st column-->
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12">
      <div class="box">
        <div class="box-header with-border">
          <h5 class="box-title">BOM Informations</h5>
        </div>
        <div class="box-body">
          <form class="form-horizontal">
            <!--<div class="row">-->
            <div class="col-6 col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-xs-4">
                  <label>BOM ID</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtbomid" class="form-control" placeholder="BOM Id">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Description</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtbomdes" class="form-control" placeholder="BOM Description">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>BOM TYPE</label>
                </div>
                <div class="col-xs-8">
                  <select class="form-control">
                    <option>Level 1</option>
                    <option>Level 2</option>
                    <option>Level 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>BOM Unit</label>
                </div>
                <div class="col-xs-8">
                  <select class="form-control">
                    <option>CMT</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Date</label>
                </div>
                <div class="col-xs-8">
                  <!--Date Picker-->
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-left" id="datepicker">
                  </div>
                  <!--Date Picker-->
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label><b>BOM VALUE : </b></label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtbomvalue" class="form-control" placeholder="BOM Value" disabled>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Gurantee Period</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtbomperiod" class="form-control" placeholder="Gurantee Period">
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Material Id</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtmatid" class="form-control" placeholder="Material Id">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Name</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtmatname" class="form-control" placeholder="Material Name">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Material Unit</label>
                </div>
                <div class="col-xs-8">
                  <select class="form-control">
                    <option>Level 1</option>
                    <option>Level 2</option>
                    <option>Level 3</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Material Qty</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtmatqty" class="form-control" placeholder="Material Qty">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Unit Cost</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtmatcost" class="form-control" placeholder="Material Cost">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Total Amount</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtmatamount" class="form-control" placeholder="Total Amount">
                </div>
              </div>
            </div>
            <!--Box footer previous-->
          </form>

        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
            <div class="box-footer">
              <div class="form-group">
                <button type="submit" class="btn btn-primary" id="bmSave">Save</button>
                &nbsp;
                <button type="button" class="btn btn-success" id="bmUpdate">Update</button>
                &nbsp;
                <button type="button" class="btn btn-openid" id="bmDelete">Delete</button>
                <button type="reset" class="btn btn-danger btn-info pull-right" id="bmCancel">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--2nd column-->
    <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12 col-12">
      <div class="row">
        <div class="col-12 col-md-12 col-sm-12">
          <!--Search form in here-->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Search BOM</h3>
            </div>
            <div class="box-body">
              <form id="form" data-parsley-validate="" novalidate="">
                <div class="form-group">
                  <!--<label class="col-3 col-lg-2 col-form-label text-left">BOM ID</label>-->
                  <div class="col-9 col-lg-12">
                    <input type="text" #txtID name="bomid" placeholder="BOM ID" class="form-control">
                  </div>
                </div>
              </form>
            </div>
            <div class="row pt-2 pt-sm-2 mt-6">
              <div class="col-9 col-lg-12">
                <div class="box-footer">
                  <button type="button" id="btnSearch" class="btn btn-space btn-primary" (click)="getID(txtID)">Search
                  </button>
                  &nbsp;
                  <button class="btn btn-space btn-danger btn-info pull-right" (cancel)="newCustomer()">Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-12 col-sm-12">
          <!--Search Details-->
          <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">BOM Search Details in Here!</h3>
            </div>
            <div class="box-body">
              <form action="#" id="bomviewform" data-parsley-validate="">
                <div class="form-group">
                  <table>
                    <tr>
                      <td><label for="matid" style="text-align: left">Material Id:</label>&nbsp;</td>
                      <td>
                        <div class="col-9 col-lg-12">
                          <input type="text" id="matid" style="text-align: left;width: auto" class="form-control"
                                 placeholder="Material Id" [value]="sCustomer?.id" disabled>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="matname" style="text-align: left">Material Name:</label>&nbsp;</td>
                      <td>
                        <div class="col-9 col-lg-12">
                          <input type="text" id="matname" style="text-align: left;width: auto" class="form-control"
                                 placeholder="Material Name" [value]="sCustomer?.name" disabled>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="unit" style="text-align: left">Material Unit:</label>&nbsp;</td>
                      <td>
                        <div class="col-9 col-lg-12">
                          <input type="text" id="unit" style="text-align: left;width: auto" class="form-control"
                                 placeholder="Material Unit" [value]="sCustomer?.address" disabled>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="matqty" style="text-align: left">Material Qty:</label>&nbsp;</td>
                      <td>
                        <div class="col-9 col-lg-12">
                          <input type="text" id="matqty" style="text-align: left;width: auto" class="form-control"
                                 placeholder="Material Qty" [value]="sCustomer?.address" disabled>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="matcost" style="text-align: left">Material Cost:</label>&nbsp;</td>
                      <td>
                        <div class="col-9 col-lg-12">
                          <input type="text" id="matcost" style="text-align: left;width: auto" class="form-control"
                                 placeholder="Material Cost" [value]="sCustomer?.address" disabled>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="matamount" style="text-align: left">Total Amount:</label>&nbsp;</td>
                      <td>
                        <div class="col-9 col-lg-12">
                          <input type="text" id="matamount" style="text-align: left;width: auto" class="form-control"
                                 placeholder="Total Amount" [value]="sCustomer?.address" disabled>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </form>
            </div>
          </div>
          <!--Search Details-->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- ============================================================== -->
    <!-- basic table -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="box">
        <div class="box-header">
          <h5 class="box-title">BOM Informations</h5>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-hover table-responsive" id="tabCustomers">
            <thead>
            <tr>
              <th scope="col">Material Id</th>
              <th scope="col">Material Description</th>
              <th scope="col">Unit</th>
              <th scope="col">Qty</th>
              <th scope="col">Unit Cost</th>
              <th scope="col">Total Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers" (click)="tableRow_Click(customer)">
              <td>{{customer.id | uppercase}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.address}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic table -->
    <!-- ============================================================== -->
  </div>
  <!--====================================================================-->
</section>
<!-- /.content -->
