<!-- Content Header (Page header) -->
<section class="content-header">
  <h5>
    <b>Supplier Page</b>
    <small> - [Supplier Register Informations]</small>
  </h5>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/pages/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">Supplier</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
    | Your Page Content Here |
    -------------------------->
  <!--====================================================================-->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="box">
      <div class="box-header with-border">
        <h5 class="box-title">Supplier Informations</h5>
      </div>
      <div class="box-body">
        <form class="form-horizontal" #frmSupplier="ngForm" (ngSubmit)="saveSupplier()">
          <div class="form-group">
            <label for="txtSupId" class="col-sm-2 control-label">Supplier Id</label>
            <div class="col-sm-9">
              <!--<input type="text" id="txtSupId" class="form-control" placeholder="Id" [(ngModel)]="selectedSupplier.supId" name="empId">-->
              <select class="form-control select2" style="width: 100%;" id="txtSupId" name="supid">
                <option *ngFor="let supplier of suppliers" (click)="getSupplierData(supplier)">{{supplier.supName}}
                </option>
              </select>
            </div>
            <div class="col-sm-1">
              <button type="button" id="btnsearch" class="btn btn-success form-control" value="" data-toggle="modal"
                      data-target="#modal-search"><i class="fa fa-search"></i></button>
            </div>
          </div>
          <div>
            <hr>
          </div>
          <div class="form-group">
            <label for="txtSupName" class="col-sm-2 control-label">Supplier Name</label>
            <div class="col-sm-10">
              <input #txtSupName type="text" id="txtSupName" class="form-control" placeholder="Name"
                     [(ngModel)]="supplier.supName" name="supname">
            </div>
          </div>
          <div class="form-group">
            <label for="txtAddress1" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
              <input type="text" id="txtAddress1" class="form-control" placeholder="Address 1"
                     [(ngModel)]="supplier.supAddress1" name="address1">
              <input type="text" id="txtAddress2" class="form-control" placeholder="Address 2"
                     [(ngModel)]="supplier.supAddress2" name="address2">
              <input type="text" id="txtAddress3" class="form-control" placeholder="Address 3"
                     [(ngModel)]="supplier.supAddress3" name="address3">
            </div>
          </div>
          <div class="form-group">
            <label for="txtSupContactNo" class="col-sm-2 control-label">Contact No.</label>
            <div class="col-sm-10">
              <input type="text" id="txtSupContactNo" class="form-control" placeholder="Contact No."
                     [(ngModel)]="supplier.supContact" name="supcontact">
            </div>
          </div>
          <div class="form-group">
            <label class="form-control" class="col-sm-2 control-label">Joined Date</label>
            <div class="col-sm-10">
              <!--Date Picker-->
              <div class="input-group date">
                <div class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </div>
                <input type="text" class="form-control pull-left" id="datepicker" [(ngModel)]="supplier.supJoinDate"  name="supjoindate">
              </div>
              <!--Date Picker-->
            </div>
          </div>
          <!--<div class="form-group">
            <label class="form-control" class="col-sm-2 control-label">Supply Materials</label>
            <div class="col-sm-5 bg-warning">
              <select class="form-control select2">
                <option *ngFor="let material of materials" (click)="setMaterial(material)">{{material.materialName}}
                </option>
              </select>
            </div>
            <div class="col-sm-5 bg-success">
              <ul>
                <li *ngFor="let mat of selectedMaterials">{{mat.materialName}}</li>
              </ul>
            </div>
          </div>-->
          <div class="box-footer">
            <div class="form-group">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <button type="submit" id="btnSupSave" class="btn btn-primary">Save</button>
                &nbsp;
                <button type="reset" id="btnSupCancel" class="btn btn-danger" (cancel)="newSupplier()">Cancel</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--====================================================================-->
</section>
<!-- /.content -->
<div class="modal fade" id="modal-search">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Search Supplier</h4>
      </div>
      <div class="modal-body">
        <!--<p>One fine body&hellip;</p>-->
        <ul type="none" class="list-group">
          <!--<span>-->
          <li *ngFor="let supplier1 of suppliers" (click)="getSupplierData(supplier1)" class="list-group-item">{{supplier1.supName}}</li>
          <!--</span>-->
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
