<!-- Content Header (Page header) -->
<section class="content-header">
  <h5>
    <b>Material Master Page</b>
    <small> - [Material Register Informations]</small>
  </h5>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/pages/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">Material Master</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
    | Your Page Content Here |
    -------------------------->
  <!--====================================================================-->
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="box">
      <div class="box-header with-border">
        <h5 class="box-title">Material Informations</h5>
      </div>
      <div class="box-body">
        <form class="form-horizontal" #frmMaterial="ngForm" (ngSubmit)="saveMaterial()">
          <div class="col-6 col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label for="txtmatid">Material Id</label>
              </div>
              <div class="col-md-6 col-sm-12">
                <input type="text" id="txtmatid" class="form-control" placeholder="Id"
                       [(ngModel)]="selectedMaterial.materialIdCode" name="matid" required pattern="^M\d{4}"
                       minlength="5">
                &nbsp;
                <div class="row">
                  <div class="col-sm-6">
                    <div class="checkbox" style="alignment: left">
                      <label>
                        <!--<input type="checkbox" [(ngModel)]="selectedMaterial.materialType" [checked]="checked" (change)="onChange($event)" name="chtype">-->
                        <input type="checkbox" [(ngModel)]="materialTypes" [checked]="checked"
                               (change)="onChange($event)" name="chtype">
                        BOM
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div>
                      <input type="button" class="btn btn-success form-control" value="Search" style="alignment: right"
                             data-toggle="modal" data-target="#modal-search">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label for="txtmatdes">Material Description</label>
              </div>
              <div class="col-md-6 col-sm-12">
                <input type="text" id="txtmatdes" class="form-control" placeholder="Description"
                       [(ngModel)]="selectedMaterial.materialName" name="matdes" minlength="4">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label>Material Unit</label>
              </div>
              <div class="col-6 col-md-6 col-sm-12">
                <!--<input type="text" id="txtmatunit" class="form-control" placeholder="Unit">-->
                <select class="form-control" [(ngModel)]="selectedMaterial.unit" (change)="getSelectedUnit()"
                        name="matunit">
                  <!--<select class="form-control" [(ngModel)]="selectedUnit" (change)="getSelectedUnit()" name="matunit">-->
                  <option *ngFor="let unit of units" [ngValue]="unit">{{unit.unitSymbol}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label for="txtmatunitp">Material Unit Price</label>
              </div>
              <div class="col-md-6 col-sm-12">
                <input type="text" id="txtmatunitp" class="form-control" placeholder="Unit Price"
                       [(ngModel)]="selectedMaterial.unitPrice" name="unitprice">
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label>Grade</label>
              </div>
              <div class="col-md-6 col-sm-12">
                <!--<select class="form-control" [(ngModel)]="selectedMaterial.materialGrade" (change)="getSelectedGrade()" name="matgrade">-->
                <!--<select class="form-control" [(ngModel)]="selectedGrade" (change)="getSelectedGrade()" name="matgrade">-->
                <select class="form-control" [(ngModel)]="selectedMaterial.materialGrade" (change)="getSelectedGrade()"
                        name="matgrade">
                  <option *ngFor="let grade of grades" [ngValue]="grade">{{grade}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label>Main Code</label>
              </div>
              <div class="col-md-6 col-sm-12">

                <select class="form-control select2" style="width: 100%;" [(ngModel)]="selectedMaterial.mainMaster"
                        (change)="getSelectedMainId()" name="matmain">
                  <!--<select class="form-control select2" style="width: 100%;" [(ngModel)]="selectedMainId" (change)="getSelectedMainId()" name="matmain">-->
                  <option *ngFor="let main of mains" [ngValue]="main">{{main.mainId}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label>Sub Code</label>
              </div>
              <div class="col-md-6 col-sm-12">

                <select class="form-control select2" style="width: 100%;" [(ngModel)]="selectedMaterial.subMaster"
                        (change)="getSelectedSubId()" name="matsub">
                  <!--<select class="form-control select2" style="width: 100%;" [(ngModel)]="selectedSubId" (change)="getSelectedSubId()" name="matsub">-->
                  <option *ngFor="let sub of subs" [ngValue]="sub">{{sub.subId}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label>Detail Code</label>
              </div>
              <div class="col-md-6 col-sm-12">
                <select class="form-control select2" style="width: 100%;" [(ngModel)]="selectedMaterial.detailMaster"
                        (change)="getSelectedDetailId()" name="matdetail">
                  <!--<select class="form-control select2" style="width: 100%;" [(ngModel)]="selectedDetailId" (change)="getSelectedDetailId()" name="matdetail">-->
                  <option *ngFor="let detail of details" [ngValue]="detail">{{detail.detailId}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-sm-12">
                <label>Date</label>
              </div>
              <!--Date Picker-->
              <div class="col-md-6 col-sm-12">
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" class="form-control pull-left" id="datepicker"
                         [(ngModel)]="selectedMaterial.matDate" name="matdate">
                </div>
              </div>
              <!--Date Picker-->
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6 col-sm-12">
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="col-md-6 col-sm-12">
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="box-footer">
                  <button type="submit" class="btn btn-primary" id="mSave">Save</button>
                  &nbsp;
                  <button type="reset" class="btn btn-danger btn-info pull-right" id="mCancel" (cancel)="newMaterial()">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <table class="table table-bordered">
            <thead>
            <tr>
              <td>Material Code</td>
              <td>Material Name</td>
              <td>Unit</td>
              <td>Unit Price</td>
              <td>Grade</td>
              <td>Main Code</td>
              <td>Sub Code</td>
              <td>Detail Code</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let material of materials">
              <td>{{material.materialIdCode}}</td>
              <td>{{material.materialName}}</td>
              <td>{{material.materialUnit}}</td>
              <td>{{material.unitPrice}}</td>
              <td>{{material.materialGrade}}</td>
              <td>{{material.main}}</td>
              <td>{{material.sub}}</td>
              <td>{{material.detail}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--====================================================================-->
  <div class="modal fade" id="modal-search">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Default Modal</h4>
        </div>
        <div class="modal-body">
          <ul type="none" class="list-group">
            <li *ngFor="let material of materials" class="list-group-item">{{material.materialIdCode}}</li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
          <!--<button type="button" class="btn btn-primary">Save changes</button>-->
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- /.content -->
</section>

