<!-- Content Header (Page header) -->
<section class="content-header">
  <h5>
    <b>Requestion Page</b>
    <small> - [Material Requestion Informations]</small>
  </h5>
  <ol class="breadcrumb">
    <li><a href="#" routerLink="/pages/dashboard"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">Material Requestion</li>
  </ol>
</section>

<!-- Main content -->
<section class="content container-fluid">

  <!--------------------------
    | Your Page Content Here |
    -------------------------->
  <!--====================================================================-->
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="box">
        <div class="box-header with-border">
          <h5 class="box-title">Material Requestion Informations</h5>
        </div>
        <div class="box-body">
          <form class="form-horizontal">
            <div class="col-6 col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Requestion Note No:</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtreqno" class="form-control" placeholder="Requestion No" disabled>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Request Date</label>
                </div>
                <div class="col-xs-8">
                  <!--Date Picker-->
                  <div class="input-group date">
                    <div class="input-group-addon">
                      <i class="fa fa-calendar"></i>
                    </div>
                    <input type="text" class="form-control pull-left" id="datepicker">
                  </div>
                  <!--Date Picker-->
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Request By:</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtreqby" class="form-control" placeholder="Request By">
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Model ID</label>
                </div>
                <div class="col-xs-8">
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Alabama</option>
                    <option>Alaska</option>
                    <option>California</option>
                    <option>Delaware</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Washington</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Description:</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtmatdes" class="form-control" placeholder="Material Description" disabled>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6 col-sm-12">
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Material ID</label>
                </div>
                <div class="col-xs-8">
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Auto</option>
                    <option>Alaska</option>
                    <option>California</option>
                    <option>Delaware</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Washington</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Material Description</label>
                </div>
                <div class="col-xs-8">
                  <select class="form-control select2" style="width: 100%;">
                    <option selected="selected">Auto</option>
                    <option>Alaska</option>
                    <option>California</option>
                    <option>Delaware</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Washington</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Material Unit</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtmatunit" class="form-control" placeholder="Material Unit" disabled>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-4">
                  <label>Request Qty</label>
                </div>
                <div class="col-xs-8">
                  <input type="text" id="txtmatreqQty" class="form-control" placeholder="Request Qty">
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-12 col-md-12 col-sm-12">
            <div class="box-footer">
              <div class="form-group">
                <button type="submit" class="btn btn-primary" id="bmSave">Save</button>
                &nbsp;
                <button type="button" class="btn btn-success" id="bmUpdate">Update</button>
                &nbsp;
                <button type="button" class="btn btn-openid" id="bmDelete">Delete</button>
                <button type="reset" class="btn btn-danger btn-info pull-right" id="bmCancel">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Display Table-->
  <div class="row">
    <!-- ============================================================== -->
    <!-- basic table -->
    <!-- ============================================================== -->
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="box">
        <div class="box-header">
          <h6 class="box-title">XBOM Details</h6>
        </div>
        <div class="box-body">
          <table class="table table-bordered table-hover table-responsive" id="tabCustomers">
            <thead>
            <tr>
              <th scope="col">Material ID</th>
              <th scope="col">Material Description</th>
              <th scope="col">Material Unit</th>
              <th scope="col">Reqest Qty</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customer of customers" (click)="tableRow_Click(customer)">
              <td>{{customer.id | uppercase}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.address}}</td>
              <td></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- end basic table -->
    <!-- ============================================================== -->
  </div>
  <!--====================================================================-->
</section>
<!-- /.content -->
